# Ignorign CMakeCache
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
# Ignoring any csv and txt generated
*.csv
# Ignoring any .edf dataset used in Fall semester
*.edf
# Ignoring compiled code
build
post_process
process
simulate_live_data
# Ignoring MacOS files
.DS_Store
# Ignoring MATLAB folders
database
html
mcode