# Ignorign CMakeCache
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
# Ignoring any csv and txt generated
*.csv
*.txt
# Ignoring any .edf dataset used in Fall semester
*.edf
# Ignoring compiled code
post_process
process
simulate_live_data